.top_navbar {
  filter: drop-shadow(0 0 3px #051f35);
  height: 3rem;
}
.menu_on_desktop {
  display: flex;
}
.menu_on_desktop li a:hover {
  background-color: unset !important;
}
.menu_on_desktop li a {
  position: relative;
}
.menu_on_desktop li a:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #00bffe;
  bottom: 12px;
  right: 0;
  position: absolute;
  transform: scaleX(0);
  transition: all 200ms linear;
  box-shadow: 0 0 3px #00bffe;
  -webkit-box-shadow: 0 0 3px #00bffe;
  border-radius: 0.1rem;
  z-index: 110;
}
.menu_on_desktop li:hover a:after {
  transform: scaleX(1);
}

#nav_svg {
  top: 40px;
  position: absolute;
}
#top_logo {
  z-index: 1000;
  position: absolute;
  width: 80px;
}
.brand-logo {
  z-index: 1000;
}

.mobile_sidenav_menu {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#80deeaf5),
      color-stop(#4dd0e1f5),
      to(#26c6daed)
    ),
    url("/assets/images/sidebar_banner.jpg") no-repeat;
  background: linear-gradient(#80deeaf5, #4dd0e1f5, #26c6daed),
    url("/assets/images/sidebar_banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  top: -40px !important;
}
.mobile_sidenav_menu a {
  font-size: 1.5rem !important;
  margin: 5px 0 !important;
  display: flex !important;
}

#top_home_section {
  height: 60vh !important;
}
#top_home {
  background: url("/assets/images/top_home.svg ") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -10px;
  height: 100% !important;
}

.slider_image {
  filter: drop-shadow(2px 3px 6px black);
}
.slider_image img {
  max-width: 300px;
}

#quick_access_menu .image {
  filter: drop-shadow(0 0 5px black);
  overflow: hidden;
  padding: 1rem;
}

#quick_access_menu .row {
  margin-top: 1rem;
  direction: rtl !important;
  display: flex;
}

#quick_access_menu .image img {
  width: 100%;
  max-width: 130px;
  border-radius: 100%;
}
#quick_access_menu .quick_access_item {
  padding-top: 1rem !important;
}

#search {
  padding: 0.5rem 0 0 0;
  background: -webkit-linear-gradient(90deg, #64ffda, #26c6da, #64ffda);
  background: linear-gradient(90deg, #64ffda, #26c6da, #64ffda);
}
#search .row {
  margin: 0;
}

#search .input-field.col label {
  right: 0.75rem !important;
  left: unset !important;
  color: #004d40;
}

#search input {
  border-bottom: 2px solid #004d40;
}

.select-wrapper .caret {
  left: 0 !important;
  right: unset !important;
}

.gyms_section p {
  text-align: justify;
  height: 65px;
  overflow: hidden;
}
.gyms_section .card .card-image {
  position: relative;
}
.gyms_section .card .gender_icon_card {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  z-index: 50;
}
.gyms_section .row {
  display: flex !important;
}

.cards_sub_title {
  padding-right: 2rem;
  position: relative;
  margin-bottom: 1.5rem;
}
.cards_sub_title::after {
  content: "";
  width: 13rem;
  height: 5px;
  border-radius: 2px;
  background-color: #004d40;
  bottom: -15px;
  right: 2rem;
  position: absolute;
}

.coach_carousel_item img {
  border-radius: 100%;
  box-shadow: 0 0 5px black;
}

.best_coaches,
.carousel {
  background: -webkit-linear-gradient(
    90deg,
    rgb(206, 147, 216) rgb(66, 165, 245),
    rgb(206, 147, 216)
  );
  background: linear-gradient(
    90deg,
    rgb(206, 147, 216),
    rgb(66, 165, 245),
    rgb(206, 147, 216)
  );
}

.carousel_coach_desc h6,
.carousel_coach_desc p {
  text-shadow: 0 0 1px white;
}

.carousel .carousel-item {
  top: -25px !important;
}

#socials_section {
  background: -webkit-linear-gradient(90deg, #00bcd4, #004d40, #00bcd4);
  background: linear-gradient(90deg, #00bcd4, #004d40, #00bcd4);
  margin-bottom: 0.2rem;
}

.social_item:hover i {
  text-shadow: 0 0 5px lime;
}

@media (max-width: 992px) {
  .brand-logo {
    left: calc(50vw + 18px) !important;
  }
  #top_home_section {
    height: 100vh !important;
  }
}
